<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muglog.mapper.MemberMapper">

    <select id="findMemIdByEmailAndLoginType" resultType="Long">
        SELECT mem_id
        FROM member
        WHERE email = #{email}
          AND login_type = #{loginType}
    </select>

    <select id="save" parameterType="com.muglog.dto.MemberDto" resultType="Long">
        INSERT INTO member (email, mem_nm, login_type)
        VALUES ( #{email},
                 #{memNm},
                 #{loginType}
                )
        RETURNING mem_id
    </select>

    <update id="updateLastLoginDate">
        UPDATE member
        SET last_login_date = now()
        WHERE mem_id = #{userId}
    </update>
</mapper>